__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
venv/
env/
ENV/

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-wheel-metadata/
share/python-wheels/

*.manifest
*.spec

pythonenv*

.mypy_cache/
.pytest_cache/
cover/
htmlcov/
.tox/
.nox/
.ruff_cache/
.ruff_cache/

celerybeat-schedule
celerybeat.pid

*.sage.py
*.pyi

site/

ipython_config.py

__pypackages__/

# OS-specific
.DS_Store

